.courses{
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}
@media (max-width: 767px) {
    .courses{
        grid-template-columns: minmax(200px,1fr);
    }
}
.courses .course img:first-of-type{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.courses .course img:nth-of-type(2){
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.courses .course .info > span.btn-shape{
    top: 0;
    left: 50%;
    transform: translate(-50% , -50%);
}














